# Ambiente virtual Python
.venv/
venv/
ENV/
env/

# Arquivos compilados Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/

# Logs
log/
*.log
*.log.*

# Banco de dados SQLite
database/
db/
*.sqlite3

# Variáveis de ambiente
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Cache e build
.pytest_cache/
.mypy_cache/
build/
dist/